<h2>Our Coffee Selection</h2>
<ul>
    {{#each newCoffees}}

    <p> </p>
    <img src="{{this.image_url}}" alt="imagesb">

   <p> {{this.country}} </p>
   <p> {{this.price}} </p>

    
    <a href="/coffee/{{this._id}}"> Details </a>
    {{/each}}
    <hr>
</ul>

<img src="/images/coffee.jpeg" />

