<h2>This is the coffee page</h2>
<ul>
    {{#each coffee}}

    <h3>{{this.coffee}}</h3>
    <p> </p>
    
    <a href="/coffee/{{this._id}}">All our different types of coffee </a>
    {{/each}}
</ul>