<h3>Check out our schedule of upcoming events!</h3>
<h5>Tuesday</h5>
<p>Poetry Night</p>
<h5>Wednesday</h5>
<p>Book club</p>
<h5>Thursday</h5>
<p>Visiting Author Series</p>
<h5> Weekends </h5>
<p> Jazz Music </p>

