<h2>Create a new drink </h2>

<form method="post" action="/create">
  <label> Name  </label>
  <input name="name" />
  <label>Category</label>
  <input name="category" />
  <label>Description</label>
  <input name="description" />
  <label>Price</label>
  <input name="price" />
  <label>Calories</label>
  <input name="calories" />
  <label>Ingredientes</label>
  <input name="ingredients" />

  <button type="submit"> Create food </button>
</form>
