<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <a href="/"> Home </a>
      <a href="/about"> About  </a>
      <a href="/coffee"> Coffee </a>
      <a href="/food"> Food </a>
      <a href="/entertainment"> Entertaiment </a>
      <a href="/contact"> Contact </a>
      
    {{{body}}}
  </body>
</html>
